html{
    background-color:#121212;
    font-family:Arial;
}

a{
    color:#ffd800;
}
#login{
    margin-right:5%;
    margin-left:90%;
    
}

h2{
    color:#ffd800;
    margin-bottom:4%;
}

/*Index/hotlist*/
.nav-bar{
    height:150px;
    margin-top:50px;
    color:#ffd800;
}

.nav-bar a{
    text-decoration-line:none;
}

.nav-bar ul{
    list-style-type:none;
    margin-top:5%;
}

.nav-bar ul li{
    display:inline;
    width:20%;
    height:5%;
    margin-left:10%;
    margin-bottom:5%;
    padding:2% 2% 2% 2%;
}

.content-box{
    min-height:600px;
    height:auto;
    margin-top:10px;
}
.general-layout{
    border: 1px groove #808080;
    background-color:#1b1b1b;
    width:60%;
    margin-left:20%;
    margin-right:20%; 
}

/*Hotlist table content*/
table { 
color: #000000; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: auto; 
border-collapse: collapse;
border-spacing: 0;
           
}

td, th { border: 1px solid #808080; height: 20px; width:2%;} /* Make cells a bit taller */

th {
background: #808080; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: center; /* Center our text */
padding: 5px 5px 5px 5px;
}

table td:first-child{
    text-align:left;
}

.hotlist-content-table tr:nth-child(even){
    background-color: #000000;
}


/*Forms -CP from whatsupp*/
fieldset {
    border: none;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    color:#ffd800;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #000000;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        border: 1px groove #808080;
    background-color:#1b1b1b;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
        display:block;
        margin-left:66%;
        margin-bottom:2%;
        color:#ffd800;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

.form-wrapper{
    margin-left:50px;
    margin-top:30px;
}

/*Message Errors*/
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    margin-left:20px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
/*Footer*/

footer{
    text-align:center;
}

.hotlist-content-table tr:hover td{
    background-color: #ffd800;
    cursor: pointer;
}

