@model playerhotlist.Models.Account
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

<h3>You are logged in as @User.Identity.Name</h3>
<h3>Your role is @if (Model.roleID == 10) {<text>User</text>}@if (Model.roleID > 20) { <text>Admin</text>}else {<text>Moderator</text>}</h3>